agents_state_agents.json
agents_state_orchestrator.json
function_executions/
opencv_output/
thinking_sessions/
crawls/

# PyPI upload artifacts
.pypirc
dist/
build/
*.egg-info/
__pycache__/
*.pyc
models_database.db
.DS_Store
agents_state_agents_agents.json
agents_state_agents_orchestrator.json
agents_state_agents_system.json
agents_state_agents_team.json
agents_state_agents_team_system.json
agents_state_agents_team_team.json